<p id="notice"><%= notice %></p>

<h1>Article Flos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @article_flos.each do |article_flo| %>
      <tr>
        <td><%= article_flo.title %></td>
        <td><%= article_flo.body %></td>
        <td><%= link_to 'Show', article_flo %></td>
        <td><%= link_to 'Edit', edit_article_flo_path(article_flo) %></td>
        <td><%= link_to 'Destroy', article_flo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article Flo', new_article_flo_path %>
